@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary-color: rgb(4, 59, 59)
    --primary-color-darker:rgb(14, 31, 31);  
}
* {
    box-sizing: border-box;
    outline:0;
}
div {
    display: inline-block;
    
    width:49%;
}



body {
    margin:0;
    padding:0;
    background-color: rgb(4, 59, 59);
    font-family: 'Opens sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width:640px;
    margin:50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;

}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;


}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline:4px solid rgb(4, 59, 59);
}

form button {
    border: none;
    background: rgb(4, 59, 59);
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;

}

form button:hover{
    background: rgb(14, 31, 31);
}